*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;

}

#body {
    height: 100vh;
    padding-top : 80px ;
    padding-bottom: 80px ;
    background: url(../img/book_shop.jpg);
}

#body .big_box{
    height: 80%;
    width:  80%;
    margin-left: 10.5%;
    margin-top: 1%;
    border-radius: 10px;
    background-color: rgb(179, 148, 114);
    box-shadow: 2px 2px 1px 0;
}

#body .content{
    height: 20%;
    width: 100%;
    margin-top: 2%;
    text-align: center;
}

.content h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 80%;
    width: 100%;
    display: inline;
    text-align: center;
    font-size: 250%;
   
}


#body .big_form{
    height: 80%;
    width: 80%;
    
  
}

.big_form .small-form{
    height: 100%;
    width: 100%; 
    
}

.small-form h2{
    font-size: 150% ;
    margin-left: 5%;
    margin-bottom: 1%;
 
}
.small-form p{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 20%;
    font-style: italic ;
    font-size: 150%;
}
.small-form input{
    width: 50%;
    font-size: 100%;
    line-height: 20px;
    border-radius: 10px;
    border:1px;
    margin-bottom: 1%;
    
   
}


.small-form button{
    line-height: 100%;
    font-size: 130%;
    border-radius: 10px;
    margin-left: 46%;
   font-size: 200%;
   background-color: rgb(179, 148, 114);
   padding: 1%;
   border-radius: 50px;
}

button:hover{
    background-color: white;
    color: black;
}