*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --cl: rgb(136,112,87);
}
html{
    background-color: rgb( 246,232,215 );
} 
#header{
    top: 0;
    position: fixed;
    height: 10.5%;
    width: 100%;
    background-color: rgb(136,112,87);
}

#header .logo {
    float: left;
    height: 80x;
    width: 80px;
    background-color:  var(--cl);
    margin-left: 100px;
        
}
    
#header ul li{
    display: block;     
}
    
#header .head-bar a{         
        color: white;
        font-size: 25px;
        line-height: 80px;
        float: right;
        padding: 0 15px;
        text-decoration: none ;
}
#header .head-bar a:hover{
    background-color: rgb(179, 148, 114);
    border-radius: 80px;
}

#header .sub {
    height: 80px;
    width: 220px;
    display: block;
    background-color:rgb(179, 148, 114);
    float: right;   
    margin: 0 1%;
    margin-right: 4%;
    text-align: center;
    border-radius:80px;
    line-height: 45px;
    
}

#header .login{
    width: 100%;
    text-decoration: none;
    line-height: 80px;
    font-size: 23px; 
    color: white;     
}   
#header .sub:hover{  
        background-color:rgb(153, 120, 82);
        color:black;
}

#header .sub:hover .child-sub{
    display: inline-block;
    
  
}

#header .sub .child-sub {
    display: none;
    font-size: 20px;
    background-color: rgba(203, 150, 106, 0.6);
    width: 100%;
    border-radius: 45px;
}
#header .sub .child-sub:hover{
    background-color: rgb(179, 148, 114);
    

}

#header .sub .child-sub > a {
    color: black;
    text-decoration: none;
    line-height: 40px;
}


#footer {
    position: fixed ;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10.5%;
    width: 100%;
    background-color: var(--cl);
    padding: 0.5% 0.5%;
}

#footer .box-1 {
    height: 100%;
    width: 25%;
    float: left;
}

#footer .box-2 {
    height: 100%;
    width: 75%;
    padding-top: 1%;
    display: inline-block;
}

#footer .box-2 .icon {
    height: 60%;
    width: 4%;
    border-radius: 100%;
}

#footer .box-1 a {
    color:black;
}
